/* Comments are shown as this */

.background1
{
	background-color: #FFFFFF;
	margin: 50px 50px 50px 50px;
	position: relative;
}

.active
{
	background-color: #84DFF1; /* Blue */
	color: white;
	padding: 15px 50px;
	text-align: left;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	text-decoration: none;
	display: block;
	max-width: 100px;
	min-width: 100px;
}

.button
{
	background-color: #E3E8E9; /* Grey */
	padding: 15px 50px;
	text-align: left;
	font-size: 16pt;
	color: black;
	font-family: "Open Sans", Helvetica;
	text-decoration: none;
	display: block;
	max-width: 100px;
	min-width: 100px;
}	
	
.navigation
{
	list-style-type: none;
    margin: 0;
    padding: 0;
	max-width: 200px;
	min-width: 200px;
	background-color: #E3E8E9; /* Grey */
	display: block;
	max-height: 100%;
	float: left;
}

#topic
{
	font-size: 50pt;
	font-family: "Open Sans", Helvetica;
	font-weight: bold;
	background-color: #E0CCF7; /* Lilac */
	padding: 15px 50px;
	display: block;
	max-width: 100%;
	min-width: 100%;
	text-align: center;
}
	
.heading
{
	font-size: 36pt;
	font-family: "Open Sans", Helvetica;
	font-weight: bold;
}

.img1
{
	max-width: 600px;
	min-width: 600px;
	max-height: 300px;
	min-height: 300px;
	display: block;
}

.img2
{
	max-width: 300px;
	min-width: 300px;
	max-height: 300px;
	min-height: 300px;
	display: block;
}

.img3
{
	max-width: 600px;
	min-width: 600px;
	max-height: 400px;
	min-height: 400px;
	display: block;
}

.img4
{
	max-width: 300px;
	min-width: 300px;
	max-height: 350px;
	min-height: 350px;
	display: block;
}

.img5
{
	max-width: 300px;
	min-width: 300px;
	max-height: 249.75px;
	min-height: 249.75px;
	display: block;
}

.img6
{
	max-width: 200px;
	min-width: 200px;
	max-height: 200px;
	min-height: 200px;
}

.question
{
	font-size: 22pt;
	font-family: "Open Sans", Helvetica;
	font-style: normal;
}	

.text
{
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	font-style: normal;
}

.margin
{
	margin: 50px 75px 50px 250px
}

.button:hover
{
	background-color:#4F5252; /* Dark grey */
	color: white;
}

#topbutton
{
	background-color: #E3E8E9; /* Grey */
	padding: 15px 50px;
	display: block;
	max-width: 100%;
	min-width: 100%;
	text-align: center;
}

#top
{
	color: black;
	text-decoration: none;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	font-weight: bold;
}

#top:hover
{
	background-color:#4F5252; /* Dark grey*/
	color: white;
}

#topbutton:hover
{
	background-color:#4F5252; /* Dark grey*/
	color: white;
}

.ref
{
	font-size: 12pt;
	font-family: "Open Sans", Calibri;
	font-style: italic;
}

.imgdesc
{
	font-size: 10pt;
	font-family: "Open Sans", Helvetica;
}

.table
{
	border-collapse: collapse;
	border: 1px solid black;
	color: black;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	width: 100%;
}

.table1
{
	border-collapse: collapse;
	border: 1px solid black;
	color: black;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	max-width: 10%;
	min-width: 10%;
}

.table2
{
	border-collapse: collapse;
	border: 1px solid black;
	color: black;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	text-align: center;
	max-width: 20%;
	min-width: 20%;
}

.table3
{
	border-collapse: collapse;
	border: 1px solid black;
	color: black;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	text-align: center;
	max-width: 20%;
	min-width: 20%;
}

.table4
{
	border-collapse: collapse;
	border: 1px solid black;
	color: black;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	max-width: 50%;
	min-width: 50%;
}

.note
{
	font-size: 7pt;
	font-family: "Open Sans", Helvetica;
}

.box
{
	max-width: 100%;
	min-width: 100%;
}

.column1
{
	border-collapse: collapse;
	border: 1px solid black;
	color: black;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	font-weight: bold;
	max-width: 20%;
	min-width: 20%;
}

.column2
{
	border-collapse: collapse;
	border: 1px solid black;
	color: black;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	max-width: 40%;
	min-width: 40%;
}

.column3
{
	border-collapse: collapse;
	border: 1px solid black;
	color: black;
	font-size: 16pt;
	font-family: "Open Sans", Helvetica;
	max-width: 40%;
	min-width: 40%;
}
